@charset "utf-8";
/* CSS Document */

@media screen and (max-width: 640px) {

	.main-intro{
		font-size:20px;
	}

	.intro-img{
    width: 150px;
    height: 150px;
    background-size:150px 150px;
		border-width: 2px;
		transition:width .5s ease, height .5s ease, border-color ease-in-out 1s;
		margin-bottom: 30px;
	}


	/*.decor-element{
		opacity: 1;
		transform: translateX(0%) !important;
	}

	.btn-show{
		margin: auto;
		margin-bottom: 30px;
		float: none;
	}

	form {
		padding: 35px;
		width: 75% !important;
	}
   */

}
